body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  align-content: center;
  text-align: center;
  background-color: #808080;
  user-select: none;
  overflow: hidden;
}

.gridline {
  position: absolute;
  background-color: #ffffff;
  border: 0.5px solid #888888;
}

.button {
  position: absolute;
  background-color: #ffffff;
  color: black;
  align-content: center;
  text-align: center;
  border-radius: 100%;
}

.button-down {
  background-color: #80ff80;
}

.button-locked {
  background-color: #80c0ff;
}

.button-locked.button-down {
  background-color: #80c080;
}
