body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  align-content: center;
  text-align: center;
  background-color: #808080;
  user-select: none;
  overflow: hidden;
}

.gridline {
  position: absolute;
  background-color: #ffffff;
  border: 0.5px solid #888888;
}

.button {
  position: absolute;
  background-color: #ffffff;
  color: black;
  align-content: center;
  text-align: center;
  border-radius: 100%;
}

.button-macrobar {
  position: absolute;
  background-color: #ffffff;
  color: black;
  align-content: center;
  text-align: center;
  border-radius: 5px;
}

.button-dpad {
  font-size: 300%;
  font-weight: bold;
}

.button-dpad.button-dpad-center {
  font-size: 100%;
  font-weight: normal;
}

.button-dpad {
  font-size: 300%;
  font-weight: bold;
}

.button-dpad.button-dpad-center {
  font-size: 100%;
  font-weight: normal;
}

.button-down {
  background-color: #80ff80;
}

.button-down.button-dpad-center {
  background-color: #d0ffd0;
}

.button-locked {
  background-color: #90e0ff;
}

.button-locked.button-down {
  background-color: #80e080;
}

.button-pressed {
  background-color: #ffc0ff;
}

.button-pressed.button-down {
  background-color: #80ff80;
}

.button-pressed.button-down.button-dpad-center {
  background-color: #d0ffd0;
}

.button-latency {
  border-radius: 5px;
}
.button-good {
  background-color: #80c6ff;
}
.button-normal {
  background-color: #80ff80;
}
.button-bad {
  background-color: #f0f080;
}
.button-uncertain {
  background-color: #ffa0ff;
}
.button-disconnected {
  background-color: #ffa0a0;
}
