body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  align-content: center;
  text-align: center;
  background-color: #e8e8e8;
  user-select: none;
  overflow: hidden;
}

.gridline {
  position: absolute;
  background-color: #ffffff;
  border: 0.5px solid #d8d8d8;
}

.button {
  position: absolute;
  background-color: #f8f8f8;
  color: #00000080;
  align-content: center;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0 2px 5px #00000033;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000088;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button-stick {
  color: #00000033;
}

.button-turbo {
  color: #00b7ff77;
}

.button-macroplay {
  color: #00b7ff77;
}

.button-macrobar {
  border-radius: 8px;
}

.button-dpad {
  font-size: 300%;
  font-weight: bold;
}

.button-dpad.button-dpad-center {
  font-size: 100%;
  font-weight: normal;
}

.button-dpad {
  font-size: 300%;
  font-weight: bold;
}

.button-dpad.button-dpad-center {
  font-size: 100%;
  font-weight: normal;
}

.button-down {
  background-color: #80ff80;
}

.button-macrobar:disabled {
  background-color: #89deff;
}

.button-down.button-dpad-center {
  background-color: #d0ffd0;
}

.button-locked {
  background-color: #89deff;
}

.button-pressed {
  background-color: #ffa8e2;
}

.button-down {
  background-color: #79e988;
}

.button-pressed.button-down.button-dpad-center {
  background-color: #d0ffd0;
}

.button-latency {
  border-radius: 5px;
}

.button-excellent {
  background-color: #89deff;
}
.button-good {
  background-color: #85e7e2;
}
.button-normal {
  background-color: #79e988;
}
.button-bad {
  background-color: #ffde7c;
}
.button-uncertain {
  background-color: #ffa8e2;
}
.button-disconnected {
  background-color: #ffabab;
}
